<?xml version="1.0"?>
<!--
/**
 * This file is part of the FIREGENTO project.
 *
 * FireGento_Core is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2011 FireGento Team (http://www.firegento.de). All rights served.
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
 -->
<config>
    <modules>
        <FireGento_Customer>
            <version>0.1.0</version>
        </FireGento_Customer>
    </modules>
    <global>
        <helpers>
            <firegento_customer>
                <class>FireGento_Customer_Helper</class>
            </firegento_customer>
        </helpers>
        <models>
            <firegento_customer>
                <class>FireGento_Customer_Model</class>
            </firegento_customer>
        </models>
        <resources>
            <firegento_customer_setup>
                <setup>
                    <module>FireGento_Customer</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </firegento_customer_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <FireGento_Customer>
                    <files>
                        <default>FireGento_Customer.csv</default>
                    </files>
                </FireGento_Customer>
            </modules>
        </translate>
    	<events>
            <customer_save_before>
                <observers>
                    <firegento_customer_observer>
                        <class>firegento_customer/observer</class>
                        <method>customerSaveBefore</method>
                    </firegento_customer_observer>
                </observers>
            </customer_save_before>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <firegento_customer_observer>
                        <class>firegento_customer/observer</class>
                        <method>validateCustomerActivationBeforeLogin</method>
                    </firegento_customer_observer>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_postdispatch_customer_account_loginPost>
                <observers>
                    <firegento_customer_observer>
                        <class>firegento_customer/observer</class>
                        <method>countFailedLogins</method>
                    </firegento_customer_observer>
                </observers>
            </controller_action_postdispatch_customer_account_loginPost>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <firegento_customer_observer>
                        <class>firegento_customer/observer</class>
                        <method>checkPasswordStrengthAtOnepageRegistration</method>
                    </firegento_customer_observer>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
         </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FireGento_Customer>
                    <files>
                        <default>FireGento_Customer.csv</default>
                    </files>
                </FireGento_Customer>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <customer>
            <password>
                <login_attempts>5</login_attempts>
                <login_attempt_span>900</login_attempt_span>
                <login_lock_time>900</login_lock_time>
            </password>
        </customer>
    </default>
</config>