<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_Customer
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
 -->
<config>
    <sections>
        <customer>
            <groups>
                <password>
                    <fields>
                        <login_attempts translate="label comment">
                            <label>Lock after x attempts</label>
                            <comment>Lock account after x failed login attempts</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </login_attempts>
                        <login_attempt_span translate="label comment">
                            <label>Lock attempt span</label>
                            <comment>Time period in seconds in which these attempts have to be</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1010</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </login_attempt_span>
                        <login_lock_time translate="label comment">
                            <label>Lock time</label>
                            <comment>Lock the account for x seconds</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1020</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </login_lock_time>
                        <check_password_min_length translate="label">
                            <label>Check minimum Password length?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1030</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </check_password_min_length>
                        <password_min_length translate="label comment">
                            <label>Minimum Password length</label>
                            <comment>If minimum password lenght is set below or equal to zero the default value of 8 will be used.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1040</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <check_password_min_length>1</check_password_min_length>
                            </depends>
                        </password_min_length>
                        <check_password_complexity translate="label comment">
                            <label>Check password complexity?</label>
                            <comment>If activated, password must contain at least one uppercase character, one lowercase character and one digit.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1050</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </check_password_complexity>
                    </fields>
                </password>
            </groups>
        </customer>
    </sections>
</config>
